.App {
  text-align: center;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: antiquewhite; 
  margin: 50px;
  height: 80px;
  display: flex;
  justify-content: left;
}

.home-div {
  display: flex;
  justify-content: space-around;
}

.left-div {
  background-color: antiquewhite; 
  margin: 30px;
}

.right-div {
  background-color: antiquewhite;
  margin: 30px; 
}

.buttons-div {
  background-color: antiquewhite; 
  padding: 20px;
  margin: 30px;
}

.log-in-form {
  font-size: 30px;
}

.navbar-button {
 background-color: antiquewhite;
 border-style: none;
 font-size: 20px;
}

.navbar-button:hover {
  background-color: white;
}

.setlist {
  background-color: lightcoral;
  text-align: left;
  margin: 100px;
  display: flex;
}

.link-to-setlists {
  text-decoration: none;
  color: black;
}

.link-to-setlists:hover {
  text-decoration: underline;
  color: lightsalmon;
}
